{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block header %}
    <div class="marquee">
        <div>Collect your data</div>
        <div>Use your data</div>
        <div>Control your data</div>
    </div>
{% endblock %}
{% block content %}
<div class="content_container">

	{% if request.user.is_authenticated %}
		<h3>Welcome {{ profile.user.username }}!</h3>

		{% if isup %}
                	<div>Your personal data store is located here: {{ profile.pds_location }}</div><br />
        	{% else %}
	                <div style="background-color:red">Sorry, we are unable to reach the personal data store at: {{ profile.pds_location }}</div>
	                <form name="input" action="" method="get">
	                New Location: <input type="text" name="location">
	                <input type="submit" value="Submit">
	                </form><br />
	        {% endif %}
	
		{% if request.user.is_staff %}
			<p>You are an administrator. Go to the <a href="/account/profiles">Profile Page</a> to create and edit users.</p>
		{% endif %}
      
	{% else %}
		<div id="info">
			<h2>What is it?</h2>
			<p>The openPDS Registry Server contains a registry of users with personal data stores, and provides these users with an OAuth 2.0 service to authorize applications to utilize their PDS.</p>
		</div>
		<div id="philosophy">
			<h2>The Philosophy</h2>
			<p>You created your personal data - whether it was by filling out a form, wearing a quantified-self device, or running one of the many mobile applications available today that collect information about you, including call logs, your location, and your contacts. 
			<ol>
				<li>This data belongs to you</li>
				<li>You should know where it lives</li>
				<li>You should know how it is used</li>
				<li>You should be able to use all of it across all of your apps and sites</li>
			</ol>
			Unfortunately, the status-quo has many applications collecting your personal data, with strict terms of service that essentially hand over ownership to the company collecting it in exchange for the service they are providing. Additionally, there is seldom any mention of how they are really using your data, and where they are housing it - there is typically not even a link to view the data these services have on you. Finally, all of these applications store their data separately and thus, no one application has access to all of your data. Your music app can't use the data from your excercise app to help determine the perfect song to play, and your mapping application can't use data from your social networking application to help determine what restaurants your friends like. If you knew where all of your data lived, and could provide access to all of it accross applications, these applications could potentially do even more for you.
			</p>
		</div>
	{% endif %}
    <div id="contribute">
        <h2>How to Sign Up and Contribute</h2>
        <p>To contribute, first <a href="/account/signup">signup for an account.</a> To create a client to interface with an openPDS install, or view clients you've previously created, proceed to the <a href="/account/clients">client management page.</a> To use a pre-existing client application, login to the application with the credentials created on the signup page. </p>
    </div>	
</div>

{% endblock %}
