<div class="modal-header">
<a class="close" data-dismiss="modal">×</a>
<h3>This is a Modal Heading</h3>
</div>
<div class="modal-body">
<h4>Text in a modal</h4>
<p>You can add some text here.</p>
    <ul>
        <li><a href="http://www.google.com" >Are you here?</a></li>
        <li><a href="http://www.google.com" >Let me know when you are here.</a></li>
        <li><a href="http://www.google.com" >Have you been here?</a></li>
        <li><a href="http://www.google.com" >Were you here?</a></li>
    </ul>
</div>
<div class="modal-footer">
<a href="#" class="btn btn-success">Call to action</a>
<a href="#" class="btn" data-dismiss="modal">Close</a>
</div>

