appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
certifi==2019.3.9
chardet==3.0.4
decorator==4.4.0
Django==1.4.3
django-4store==0.3
django-allauth==0.10.0
django-extensions==1.6.7
django-shibboleth-remoteuser==0.5
django-tastypie==0.9.11
django-uni-form==0.9.0
enum34==1.1.6
idna==2.8
ipython==5.8.0
ipython-genutils==0.2.0
mimeparse==0.1.3
mongoengine==0.17.0
oauth2app==0.3.0
oauthlib==3.0.1
pathlib2==2.3.3
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==1.0.16
ptyprocess==0.6.0
pycrypto==2.6.1
Pygments==2.3.1
pymongo==2.9.5
python-dateutil==1.5
python-openid==2.2.5
requests==2.21.0
requests-oauthlib==1.2.0
scandir==1.10.0
simplegeneric==0.8.1
six==1.12.0
traitlets==4.3.2
typing==3.6.6
urllib3==1.24.2
wcwidth==0.1.7
