# XXX add specific version numbers once we can confirm the latest stable versions all work
django
pycrypto
pymongo
PyMySQL
# XXX - re-enable once we make postgresql / mysql an developer-defined detail
#psycopg2
django-extensions
django-uni-form
django-tastypie==0.9.11
mongoengine



# oauth2app
https://github.com/hiidef/oauth2app/tarball/master
