{% extends "layout.html" %}
{% load uni_form_tags %}

{% block title %}Your Roles{% endblock %}

{% block content %}

	<h1>{{ host }} (User {{ host.pk }}) Roles</h1>

	<div class="content_container">
		{% for role, access in roles.items %}
			<p>{{ role }} - {% if access %}has{% else %}no{% endif %} access</p> 
		{% endfor %}
	</div>
	<div class="content_container">
		<table width=300>
		{% for role in roleToProfiles %}
				<tr>
					<td> {{ role.0 }} </td>
					<td>
						{% for r in role.1 %}
							{{ r }} <a href="/account/removeRole/{{ host.pk }}/{{ role.2 }}/{{ r }}">remove</a><br/>
						{% endfor %}
					</td>
				</tr>
		{% endfor %}
		</table>
	</div>
	
	<div class="content_container">
		<form method="post" action="">{% csrf_token %}
			{{ roleToProfileForm.as_p }}
			<input type="submit" value="Add User Role" />
		</form>
		<a href="/account/adminToolbar?uid={{ host.pk }}">Go Back</a>
	</div>

{% endblock %}