<div>
Username
<input 
	type="text" 
	profileFieldName="user.username" 
	value="{{ user.username }}" 
	class="profileAttribute" 
	id="usernameTextbox{{id}}" />
</div>
{{#user}}
<div>
UUID
<input
    type="text"
    profileFieldName="uuid"
    class="profileAttribute"
    value="{{ uuid }}" />
</div>
{{/user}}
{{^user}}
<div>
Password
<input 
	type="password" 
	profileFieldName="user.password" 
	class="profileAttribute" />
</div>
{{/user}}
<div>
Email
<input 
	type="text"
	class="profileAttribute"
	profileFieldName="user.email"
	value="{{ user.email }}" />
</div>
<div>
First name 
<input 
	type="text" 
	class="profileAttribute" 
	profileFieldName="user.first_name" 
	value="{{ user.first_name }}" />
</div>
<div>
Last name
<input 
	type="text"
	class="profileAttribute" 
	profileFieldName="user.last_name" 
	value="{{ user.last_name }}" />
</div>
<div>
Staff member?
<input 
	type="checkbox"
	class="profileAttribute"
	profileFieldName="user.is_staff"
	{{#user}} {{#is_staff}}checked{{/is_staff}} {{/user}} />
</div>
<div>
Superuser?
<input 
	type="checkbox"
	class="profileAttribute"
	profileFieldName="user.is_superuser"
	{{#user}} {{#is_superuser}}checked{{/is_superuser}} {{/user}} />
</div>
<div>
PDS IP 
<input 
	type="text"
	class="profileAttribute"
	profileFieldName="pds_ip"
	value="{{ pds_ip }}" />
</div>
(ex. "127.0.0.1")
PDS Port 
<input 
	type="text"
	class="profileAttribute"
	profileFieldName="pds_port"
	value="{{ pds_port }}" />
</div>
(ex. "80")
<div>
<input
	type="button"
	class="saveProfileButton"
	value="save" />
</div>
<div></div>
