.marquee {
    width: 100%;
    height: 300px;
    background-image: url('/static/img/SocialHealth_marquee.png');
    background-position: 75% 50%;
    background-repeat: no-repeat;
}

.marquee div {
    font-size: 32px;
    padding-top: 40px;
    padding-left: 40px;
}

.ui-title {
    margin-right: 20% !important;
    margin-left: 20% !important;
}

#header {
    overflow: hidden;
}
